<%= render :partial => 'header' %>

<center><h1>Log In</h1></center>

<div class="containter">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for :session, url: login_path do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log In", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% if flash[:danger] %>
    <div class="row notification is-danger global-notification justify-content-md-center">
      <p class="error">error: <%= flash[:danger] %></p>
    </div>
  <% end %>
</div>
