<h1>Band Search</h1>
Search for: <%= params[:band_name].titleize %><br>
Total Tracks: <%= @tracks.count %>
<% if params[:render] %>
    <table border=1>
    <tr><th>track title</th><th>album</th><th>URI</th></tr>
    <% @tracks.each do |track| %>
        <% t = track[1] %>
        <tr>
        <td><%= t.name %></td>
        <td><%= t.album.name %></td>
        <td><%= t.uri %></td>
        </tr>
    <% end %>
   </table>
<% end %>
