<%= render :partial => 'header' %>
<h1>Test.html</h1>

<div class="m-1">
  <h2>All Users</h2>
  <table border=1>
   <tr><th>username</th><th>email</th><th>activated?</th></tr>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.username %></td>
        <td><%= u.email %></td>
        <td><%= u.activated? %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="m-1">
  <h2>current_user</h2>

  <% if current_user %>
    <table border=1>
      <tr><th>username</th><th>email</th><th>activated?</th></tr>
      <tr>
        <td><%= current_user.username %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.activated? %></td>
      </tr>
    </table>
  <% else %>
    No Current User
  <% end %>
</div>


<div class="m-1">
  <h2>session</h2>
 
  <table border=1>
    <% session.each do |k, v| %>
      <tr><td><%= k %></td><td><%= v %></td></tr>
    <% end %>
  </table>
</div>


<% if flash[:error] %>
  <div class="notification is-danger global-notification">
    <p class="error">error: <%= flash[:error] %></p>
  </div>
<% end %>
